{% extends "@App/sell/sell.layout.html.twig" %}

{% block sell_content %}

    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            {{ menus.menuItem('Draft', path('sellListingsDrafts') ) }}
            {{ menus.menuItem('Pending', path('sellListingsPending') ) }}
            {{ menus.menuItem('Active', path('sellListingsActive') ) }}
            {{ menus.menuItem('Sold Packages', path('sellListingsPackages') ) }}
            {{ menus.menuItem('Expired', path('sellListingsExpired') ) }}
        </ul>
    </nav>

    {% block listing_content %}
        {{ include('@App/content/contentItemList.html.twig', { 'contents' : contents }) }}
    {% endblock listing_content %}

{% endblock sell_content %}