{% extends "layout.html.twig" %}

{% import "@App/macros/menu.html.twig" as menus %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/css/listings.css') }}" type="text/css" rel="stylesheet"/>

{% endblock %}

{% block main_content %}
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">

            {{ menus.mainMenuItem('Listings', path('sellListings'), [
                path('sellListingsDrafts'),
                path('sellListingsPending'),
                path('sellListingsActive'),
                path('sellListingsPackages'),
                path('sellListingsExpired'),
            ] ) }}

            {{ menus.mainMenuItem('Contracts', path('sellContracts'), [
                path('sellContractsActive'),
                path('sellContractsExpired'),
            ] ) }}

            {{ menus.menuItem('Event/Program Schedule', path('sellSchedule') ) }}

            {{ menus.menuItem('Create new listing', path('newListing') ) }}
        </ul>
    </nav>


    {% block sell_content %}
    {% endblock sell_content %}

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/listings.js') }}"></script>
{% endblock %}