{% extends "layout.html.twig" %}

{% import "@App/macros/menu.html.twig" as menus %}

{% block stylesheets %}

    {{ parent() }}
    {#<link href="{{ asset('bundles/app/css/buy.css') }}" type="text/css" rel="stylesheet"/>#}

{% endblock %}

{% block main_content %}
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            {{ menus.menuItem('Listings', path('sellListings'), {
                'Draft': path('sellListingsDrafts'),
                "Pending": path('sellListingsPending'),
                "Active": path('sellListingsActive'),
                "Sold Packages": path('sellListingsPackages'),
                "Expired": path('sellListingsExpired'),
            }) }}

            {{ menus.menuItem('Contracts', path('newListing') ) }}

            {{ menus.menuItem('Event/Program Schedule', path('newListing') ) }}

            {{ menus.menuItem('Create new listing', path('newListing') ) }}
        </ul>
    </nav>


    {% block sell_content %}
    {% endblock sell_content %}

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset('bundles/app/javascript/buy.js') }}"></script>#}
{% endblock %}