{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}

    {# REACT CONTAINER#}
    <div id="sell-form-container"
         class="sell-form-container"
         data-packages="{{ packages }}"
         data-rights="{{ rights }}"
         data-user="{{ user }}"
         data-content="{{ content }}"
    >
    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/libs/jquery.csv.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/bootstrap-tagsinput.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/jquery.extension.validator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/sell.js') }}"></script>

    {{ include('statics/language.js.html.twig', { }) }}
{% endblock %}