{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}

    {# REACT CONTAINER#}
    <div class="row marketplace-container"
         data-logged-user="{{ loggedUser }}"
         data-rights="{{ rights }}"
         data-company="{{ company }}"
         data-packages="{{ packages }}"
         data-new-listing="{{ newListing }}"
         id="home-wrapper">
    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
{% endblock %}
