{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}

    {# REACT CONTAINER#}
    <div class="row marketplace-container"
         data-user="{{ user }}"
         data-company="{{ company }}"
         data-profile="{{ profile }}"
         data-tab="{{ tab }}"
         id="manage-wrapper">
    </div>


{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/manage.js') }}"></script>
{% endblock %}
