{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('assets/buy.css') }}" type="text/css" rel="stylesheet"/>

{% endblock %}

{% block main_content %}

    {# REACT CONTAINER#}
    <div class="row marketplace-container"
         data-rights="{{ rights }}"
         data-profile="{{ profile }}"
         data-company="{{ company }}"
         data-tab="{{ tab }}"
         data-custom-id="{{ customId }}"
         data-sales-package="{{ salesPackage }}"
         id="marketplace-wrapper">
    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/buy.js') }}"></script>
{% endblock %}
