{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/css/seller.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block main_content %}

    <div>
        <div class="success-message">
            THE LISTING WAS CREATED SUCCESSFULLY. WILL REMAIN IN PENDING REVIEW STATUS UNTIL AN ADMINISTRATOR APPROVES IT. <i class="fa fa-check"></i>
        </div>
        <div class="buttons-container">
            <button class="link-action standard-button" href="{{ path('dashboard') }}" >
                Go to My Content
            </button>
            <button class="link-action standard-button" href="{{ path('sell') }}">
                Add another listing
            </button>
        </div>

    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/sell.js') }}"></script>


{% endblock javascripts %}