<div id="step2" class="is-hidden">
    <div class="seller-box">
        <div class="seller-box-title">
            Pick rights
        </div>
        <div id="packages" class="seller-box-content" >
            {% for package in packages %}
                <div class="select-box-item" >
                    <div class="select-box-checkbox">
                        <input type="checkbox"
                               class="package-selector"
                               id="package-{{ package.id }}"
                               name="package-{{ package.name }}"
                               data-packages="{{ package.serializer }}">
                    </div>
                    <div class="select-box-item-label">
                        {{ package.name|e }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="sell-buttons-container">
        <button id="reset-packages" class="uk-button standard-button package-ready-button">Reset package selection</button>
    </div>

    <div id="main-sell-box" class="seller-box sell-items-box is-hidden">
        <div class="seller-box-title">
            Specify <span class="">collectively</span>
        </div>
        <div class="seller-box-content seller-box-content-rights" >
            {% for right in rights %}
                {% if right.packagesIds|length > 1 %}
                    {{ include('sell/right.html.twig', { 'right': right }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% for package in packages %}
        <div id="sell-box-package-{{ package.id }}" class="seller-box sell-items-box is-hidden">
            <div class="seller-box-title">
                Specify <span>{{ package.name|e }}</span>
            </div>
            <div class="seller-box-content seller-box-content-rights">
                {% for right in rights %}
                    {% if right.packagesIds|length == 1 and package.id in right.packagesIds  %}
                        {{ include('sell/right.html.twig', { 'right': right }) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div id="price-sell-box" class="seller-box sell-items-box is-hidden">
        <div class="seller-box-title">
            Pricing and territory
        </div>
        <div class="seller-box-content seller-box-content-rights">
            <div class="select-box-item-container" id="sales-method-selector">

                <div class="select-box-item-title">
                    Sales method
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="pre-defined-fee"  class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        Pre-defined fee
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="open-bid" class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        Open bid
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="closed-bid" >
                    </div>
                    <div class="select-box-item-label">
                        Closed bid
                    </div>
                </div>
            </div>
            <div class="select-box-item-container"  id="fee-currency-selector">
                <div class="select-box-item-title">
                    Fee
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="text" id="fee-selector" >
                    </div>
                    <div class="select-box-item-label">
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="USD" class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        USD
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="EUR" class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        EUR
                    </div>
                </div>
            </div>
            <div class="select-box-item-container" id="territories-selector">
                <div class="select-box-item-title">
                    Territories
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="worldwide"  class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        Worldwide
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="selected" class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        Selected territories only
                    </div>
                </div>

                <div class="select-box-item select-box-item-full">
                    <div class="select-box-checkbox">
                        <input type="checkbox" value="excluding" class="unselect-others">
                    </div>
                    <div class="select-box-item-label">
                        Worldwide excluding <input type="text">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sell-buttons-container">
        <button id="view-agreement" class="uk-button standard-button package-ready-button">
            View preliminary license agreement
        </button>
        <button id="upload-agreement" class="uk-button standard-button package-ready-button">
            Upload own license agreement
        </button>
    </div>

    <div class="package-ready-button">
        <div class="tag-members-container package-ready-button">
            <div class="tag-member-title">Tag company members on this listing</div><input id="tag-members" type="text" class="tag-member-input" />
        </div>
    </div>

    {#<div class="sell-buttons-container">
        <button id="create-packages" class="uk-button standard-button package-ready-button">Create new package</button>
    </div>#}

    <div class="sell-buttons-container">
        <button id="submit-listing" class="uk-button standard-button package-ready-button">
            Submit listing
        </button>
    </div>
</div>

<form id = "myform" method = "post">
</form>