<div id="step2" class="">

    {# PACKAGE SELECTOR#}
    <div class="seller-box">
        <div class="seller-box-title">
            Pick rights
        </div>
        <div id="packages" class="seller-box-content" >
            {% for package in packages %}
                <div class="select-box-item" >
                    <div class="select-box-checkbox">
                        <input type="checkbox"
                               class="package-selector"
                               id="package-{{ package.id }}"
                               name="package-{{ package.name }}"
                               data-packages="{{ package.serializer }}">
                    </div>
                    <div class="select-box-item-label">
                        {{ package.name|e }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# RESET PACKAGE SELECTOR #}
    <div class="sell-buttons-container">
        <button id="reset-packages" class="uk-button standard-button package-ready-button">Reset package selection</button>
    </div>

    <div id="main-sell-box" class="seller-box sell-items-box is-hidden">
        <div class="seller-box-title">
            Specify <span class="">collectively</span>
        </div>
        <div class="seller-box-content seller-box-content-rights" >
            {% for right in rights %}
                {% if right.packagesIds|length > 1 %}
                    {{ include('sell/right.html.twig', { 'right': right }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% for package in packages %}
        <div id="sell-box-package-{{ package.id }}" class="seller-box sell-items-box is-hidden">
            <div class="seller-box-title">
                Specify <span>{{ package.name|e }}</span>
            </div>
            <div class="seller-box-content seller-box-content-rights">
                {% for right in rights %}
                    {% if right.packagesIds|length == 1 and package.id in right.packagesIds  %}
                        {{ include('sell/right.html.twig', { 'right': right }) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {# PRICING AND TERRITORY #}
    {{ include('sell/step2.pricing.html.twig') }}

    {# PAYMENT TERMS #}
    {{ include('sell/step2.paymentTerms.html.twig') }}

    {# LISTING DETAILS #}
    {{ include('sell/step2listingDetails.html.twig') }}

    {# BUTTONS #}
    {{ include('sell/step2buttons.html.twig') }}
</div>

{{ include('sell/mainForm.twig') }}