<div id="step2" class="is-hidden">

    <div class="box">
        <div class="box-title">
            <div id="event-title"></div>
            <div>Step 2/2</div>
        </div>
    </div>

    {# PACKAGE SELECTOR#}
    <div class="box">
        <div class="box-title">
            Pick rights
        </div>
        <div id="packages" class="seller-box-content seller-box-packages" >
            {% for package in packages %}
                <div class="select-box-item" >
                    <div class="select-box-checkbox">
                        <input type="checkbox"
                               class="package-selector"
                               id="package-{{ package.id }}"
                               name="package-{{ package.name }}"
                               data-packages="{{ package.serializer }}">
                        <label for="package-{{ package.id }}"></label>
                    </div>
                    <div class="select-box-item-label">
                        {{ package.name|e }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# RESET PACKAGE SELECTOR #}
    <div class="buttons-container package-ready-button">
        <button id="reset-packages" class="standard-button ">Reset package selection</button>
    </div>

    <div id="main-multiple-package" class="box sell-items-box is-hidden rights-container">
        <div class="box-title">
            Specify collectively
        </div>
        <div class="seller-box-content seller-box-content-rights" >
        </div>
    </div>

    <div id="main-single-package" class="box sell-items-box is-hidden rights-container ">
        <div class="box-title">
            Rights configuration
        </div>
        <div class="seller-box-content seller-box-content-rights" >

        </div>
    </div>

    {% for package in packages %}
        <div id="sell-box-package-{{ package.id }}" class="box sell-items-box is-hidden rights-container">
            <div class="box-title">
                Specify {{ package.name|e }}
            </div>
            <div class="seller-box-content seller-box-content-rights">
            </div>
        </div>
    {% endfor %}

    <div class="rights-list is-hidden">
        {% for right in rights %}
            {{ include('sell/right.html.twig', { 'right': right }) }}
        {% endfor %}
    </div>

    {# PAYMENT TERMS #}
    {{ include('sell/step2.paymentTerms.html.twig') }}

    {# LISTING DETAILS #}
    {{ include('sell/step2listingDetails.html.twig') }}

    {# BUTTONS #}
    {{ include('sell/step2buttons.html.twig') }}
</div>

<div id="box-templates" class="is-hidden">
    <div class="box sell-items-box rights-container production-standards ">
        <div class="box-title">
            Production standards
        </div>
        <div class="seller-box-content seller-box-content-rights" >
        </div>
    </div>

    <div class="box sell-items-box rights-container technical-delivery">
        <div class="box-title">
            Technical delivery
        </div>
        <div class="seller-box-content seller-box-content-rights" >
        </div>
    </div>

    <div class="select-box-item-container extra-distribution-packages">

        <div class="select-box-item-title">
            Add distribution packages
        </div>

        <div class="select-box-item select-box-item-full">
            <div class="select-box-checkbox">
            </div>
            <div class="select-box-item-label">
                <select class="distribution-package-selector">
                    <option value="" class="">Select </option>
                    <option value="Highlights" class="is-hidden extra-package-highlight">Distribute Highlights separately</option>
                    <option value="News access" class="is-hidden extra-package-news">Distributed News Access separately</option>
                    <option value="Clips" class="is-hidden extra-package-clips">Distribute Clips separately</option>
                    <option value="Highlights, News access" class="is-hidden extra-package-highlight-news">Distribute Highlights + News Access separately</option>
                    <option value="Highlights, Clips" class="is-hidden extra-package-highlight-clips">Distributed Highlights + Clips separately </option>
                    <option value="News access, Clips" class="is-hidden extra-package-clips-news">Distribute News Access + Clips separately</option>
                    <option value="Highlights, Clips, News access" class="is-hidden extra-package-highlight-clips-news">Distribute Highlights + News Access + Clips separately </option>
                </select>
            </div>
        </div>
    </div>

</div>

{{ include('sell/mainForm.twig') }}

{{ include('sell/templates.html.twig') }}