
<div class="content-box">
    {# IMAGE #}
    <div class="content-column content-column-image">
        {% if content.image  %}
        <img src="{{ asset( content.image ) }}">
        {% else  %}
            <img src="{{ asset('bundles/app/images/no-image.png') }}"/>
        {% endif  %}

        <div class="buy-content-sport">
            {% if content.sports | length == 1  %}
                {{ content.sports[0].name | default("") }}
            {% else  %}
                MULTIPLE SPORTS
            {% endif  %}
        </div>
    </div>

    {# DETAILS #}
    <div class="content-column content-column-details">
        <div class="buy-content-detail">
            {% if content.tournament  %}<i class="fa fa-cog"></i>{{ content.tournament.name }} {% endif %}
            {% if content.sportCategory  %}<i class="fa fa-globe"></i>{{ content.sportCategory.name }} {% endif %}
        </div>

        {% if content.seasons|length > 0  %}
            <div class="buy-content-detail">
                <i class="fa fa-calendar"></i>{{ content.seasons|join(", ") }}
            </div>
        {% endif %}

        <div class="buy-content-detail"><i class="fa fa-calendar"></i>{{ "10/02/2018" | default("") }}</div>

        {% if ( content.programName or content.programType )  %}
            <div class="buy-content-detail">
                {% if content.programType %}<i class="fa fa-arrow-circle-right"></i>{{ content.programType }}{% endif %}
                {% if content.programName %}- {{ content.programName }}{% endif %}
            </div>
        {% endif  %}

        {% if content.rightsPackage|length > 0  %}
            <div class="buy-content-detail">
                <i class="fa fa-gavel"></i>{{ content.rightsPackage|join(", ") }}
            </div>
        {% endif %}
    </div>

    {# COMPANY #}
    <div class="content-column content-column-company">
        <div class="content-custom-id">(#{{ content.customId }})</div>

        {%  if not content.isOwner(user) %}
            <div><i class="fa fa-money"></i>
                {{ content.company.displayName | default("") }}
            </div>
        {% endif %}

        {%  if content.isExpired() %}
            <div class="content-expires">
                Expired on: {{ content.expiresAt|date("m/d/Y") }}
            </div>
        {% else %}
            <div class="content-expires">
                Offer deadline: {{ date( content.expiresAt|date ).diff( date("now") ).days }} days
            </div>
        {% endif %}

        {% if content.customId %}
        <button class="link-action standard-button standard-button-active" href="{{ path('showContent', { customId : content.customId }) }}" >
            More Info
        </button>
        {% endif %}

        {#{% for package in content.salesPackages %}
            {{ package.salesMethod }}
        {% endfor %}#}

    </div>

    {% if content.isOwner(user) and content.isActive() and not content.isExpired() %}
        <div class="uk-width-1-1 uk-grid">
            <a class="uk-button uk-button-primary uk-width-1-4 more-info-listings" data-id="{{ content.customId  }}">More Info</a>
            <a class="uk-button uk-button-primary uk-width-1-4">Pending Bids</a>
            <a class="uk-button uk-button-primary uk-width-1-4">Closed Bids</a>
            <a class="uk-button uk-button-primary uk-width-1-4">Schedule/Technical Data</a>
        </div>
    {% endif %}
</div>