<div class="content-box">
    {# IMAGE #}
    <div class="content-column content-column-image">
        {% if content.image  %}
        <img src="{{ asset( content.image ) }}">
        {% else  %}
            <img src="{{ asset('bundles/app/images/no-image.png') }}"/>
        {% endif  %}

        <div class="buy-content-sport">
            {% if content.sports | length == 1  %}
                {{ content.sports[0].name | default("") }}
            {% else  %}
                MULTIPLE SPORTS
            {% endif  %}
        </div>
    </div>

    {# DETAILS #}
    <div class="content-column content-column-details">
        <div class="buy-content-detail">
            {% if content.tournament  %}<i class="fa fa-cog"></i>{{ content.tournament.name }} {% endif %}
            {% if content.sportCategory  %}<i class="fa fa-globe"></i>{{ content.sportCategory.name }} {% endif %}
        </div>

        {% if content.seasons|length > 0  %}
            <div class="buy-content-detail">
                <i class="fa fa-calendar"></i>{{ content.seasons|join(", ") }}
            </div>
        {% endif %}

        <div class="buy-content-detail"><i class="fa fa-calendar"></i>{{ "10/02/2018" | default("") }}</div>

        {% if ( content.programName or content.programType )  %}
            <div class="buy-content-detail">
                {% if content.programType %}<i class="fa fa-arrow-circle-right"></i>{{ content.programType }}{% endif %}
                {% if content.programName %}- {{ content.programName }}{% endif %}
            </div>
        {% endif  %}

        {% if content.rightsPackage|length > 0  %}
            <div class="buy-content-detail">
                <i class="fa fa-gavel"></i>{{ content.rightsPackage|join(", ") }}
            </div>
        {% endif %}
    </div>

    {# COMPANY #}
    <div class="content-column content-column-company">
        <div class="content-custom-id">(#{{ content.customId }})</div>
        <div><i class="fa fa-money"></i>{{ content.company.displayName | default("") }}</div>
        <div class="content-expires">Offer deadline: {{ date( content.expiresAt|date ).diff( date("now") ).days }} days</div>
        {% if content.customId %}
        <button class="link-action standard-button standard-button-active" href="{{ path('showContent', { customId : content.customId }) }}" >
            More Info
        </button>
        {% endif %}

        {#{% for package in content.salesPackages %}
            {{ package.salesMethod }}
        {% endfor %}#}

    </div>
</div>