<div class="license-content">

    <div class="pagebreak"></div>

    <div class="license-sub-title">General Terms and Conditions "T&C"</div>

    {% set termCounter = 1 %}
    {% for term in terms %}
        {% if term.position == 1 or term.items | length > 0 %}
            <div class="license-item-title">
                {{ termCounter }}. {{ term.name }}:
            </div>
        {% endif %}
        {% if term.position == 1 and definitions is defined %}
            <table>
                {% for definition in definitions %}
                    <tr>
                        <td class="min-height">
                            {{ definition.name|nl2br }}
                        </td>
                        <td class="min-height">
                            {{ definition.content|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% set termCounter = termCounter + 1 %}
        {% endif %}
        {% if term.items | length > 0 %}
            {% set counter = 1 %}
            {% for item in term.items %}
                {% if item.content != "" %}
                    <div class="license-item">
                        <strong> {{ termCounter }}.{{ counter }} </strong> {{ item.content|nl2br }}
                    </div>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {% set termCounter = termCounter + 1 %}
        {% endif %}
    {% endfor %}


</div>


