<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% set version="1.2" %}
        {% block stylesheets %}
            <link href="{{ asset('assets/vendor.css') }}?v={{ version }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/common.css') }}?v={{ version }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/main.css') }}?v={{ version }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <script>
            var envhosturl = "{{ path('homepage')|escape('js') }}";

            {% if hostUrl is defined %}
                var hosturl = "{{ hostUrl }}";
            {% endif %}

            {% if externalApiUrl is defined %}
                var externalApiUrl = "{{ externalApiUrl }}";
            {% endif %}


            var assetsBaseDir = "{{ asset('bundles/') }}";
        </script>
        <title>Content Arena</title>

    </head>
    <body class="page-home">

        <div class="main-content">
            {% block main_content %}
            {% endblock main_content %}
        </div>

    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('assets/manifest.js') }}?v={{ version }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor.js') }}?v={{ version }}"></script>
        <script type="text/javascript" src="{{ asset('assets/main.js') }}?v={{ version }}"></script>
        <script type="text/javascript" src="{{ asset('assets/common.js') }}?v={{ version }}"></script>
        <script type="text/javascript" src="{{ asset('assets/ca.js') }}?v={{ version }}"></script>

    {% endblock %}
    </body>
</html>
