{% extends "layout.html.twig" %}

{% import "@App/macros/menu.html.twig" as menus %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            {{ menus.mainMenuItem('Listings', path('myContentListings'), [
                path('myContentWatchlist'),
                path('myContentAcquired'),
                path('myContentPending'),
                path('myContentExpired'),
            ] ) }}

            {{ menus.mainMenuItem('Contracts', path('myContentContracts'), [
                path('myContentContractsActive'),
                path('myContentContractsExpired'),
            ] ) }}

            {{ menus.menuItem('Event/Program Schedule', path('myContentSchedule') ) }}

        </ul>
    </nav>


    {% block my_content %}
    {% endblock my_content %}

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
