<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/login.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/javascript/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/javascript/main.js') }}"></script>
        {% endblock %}
    </head>
    <body class="page-home">

        <div class="header">
            <div class="logo">
                <img src="{{ asset('bundles/app/img/logo_contentarena.png') }}">
            </div>
            <div class="content">
                <p class="uk-margin">
                    <span> <a href="https://contentarena.com/" target="_blank">home</a></span>
                    <span> <a href="https://contentarena.com/web/privacy-policy/" target="_blank">Privacy Policy</a></span>
                    <span> <a href="https://contentarena.com/web/terms-of-use/" target="_blank">Terms of Use</a></span>
                    <span> <a href="https://contentarena.com/web/faq/" target="_blank">Cookie Policy</a></span>
                    <span> <a href="https://contentarena.com/web/privacy-policy/" target="_blank">faq</a></span>
                </p>
            </div>
        </div>
    
        {#<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>#}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="landing-message">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

    </body>
</html>
