<div class="box fixed-fee-box">
    <div class="box-title">Pending Fixed Fee</div>
    <div class="box-content">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Territory</th>
                <th>Buyer</th>
                <th>Date</th>
                <th>Fixed Fee</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in bids %}
                {% if item.type.name == 'FIXED' %}
                    {% for country in item.countries %}
                        <tr>
                            <td>{{ item.customId }}</td>
                            <td>{{ country.name }}</td>
                            <td>{{ item.buyerUser.company.displayName }}</td>
                            <td>Date</td>
                            <td>{{ item.amount }} {{ item.currency.code }}</td>
                            <td>
                                <a href="" class="bid-approve" title="Approve">
                                    <i class="fa fa-2x fa-check"></i>
                                </a>
                                <a href="" class="bid-reject" title="Reject">
                                    <i class="fa fa-2x fa-times"></i>
                                </a>
                                <a href="" class="bid-comment" title="Comment">
                                    <i class="fa fa-2x fa-comment"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>