{% if countries | length  > 1 %}
    <div class="box">
        <div class="box-title">
            Find territories
        </div>

        <div class="box-content">

            <div>
                <button class="uk-button uk-button-success main-check" data-checked="false">Select All</button>
            </div>

            <div class="uk-grid uk-flex uk-flex-center">
                <div class="continent-name continent-name-color" data-id="world">World</div>

                {% for territory in countries.territories %}
                    <div class="continent-name" data-id="{{ territory.id }}">{{ territory.name }}</div>
                {% endfor %}
            </div>

            <table class="uk-table territory-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Territory</th>
                    <th>Purchasing Method</th>
                    <th>Fee/Minimum Bid</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="territory-table-body">

                {% set i = 0 %}

                {% for item in countries %}
                    {% if loop.index != loop.last %}
                        {% for country in item.countries %}
                            {% set i = i + 1 %}
                            <tr data-id="{{ country.territoryId }}" class="country-row {% if i > 20 %} hide-item{% endif %}">
                                <td>
                                    <input type="checkbox" class="subordinate-check" >
                                </td>
                                <td>{{ country.name }}</td>
                                <td>
                                    {% if item.salesPackage.salesMethod == 'fee' %}
                                        Fixed price
                                    {% elseif item.salesPackage.salesMethod == 'closed-bid'%}
                                        Closed bid

                                    {% else %}
                                        Open bid
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.salesPackage.salesMethod == 'fee' %}
                                        {{ item.salesPackage.fee }}
                                    {% else %}
                                        <input type="text" placeholder="enter bid (> {{ item.salesPackage.fee }})">
                                    {% endif %}

                                </td>
                                <td>{{ item.salesPackage.currency }}</td>
                                <td>
                                    <button class="uk-button-primary">Add to cart</button>
                                </td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>

                {% if i > 20 %}
                    <span class="uk-float-left view-all" >View all ({{ i }})</span>
                {% endif %}
                <button class="uk-button uk-button-primary uk-float-right">Add selections to cart</button>

            </div>
            <input type="hidden" class="territory-id" value="world">
        </div>
    </div>



{% endif %}
