{% for item in countries %}
    <div class="box">
        <div class="box-title">
            Find territories  {{ loop.index }}
        </div>

        <div class="box-content">

            <div>
                <button class="uk-button uk-button-success main-check" data-iteration="{{ loop.index }}" data-checked="false">Select All</button>
            </div>

            <div class="uk-grid uk-flex uk-flex-center">
                <div class="continent-name continent-name-color" data-id="world" data-iteration="{{ loop.index }}">World</div>

                {% for territory in item.territories %}
                    <div class="continent-name" data-id="{{ territory.id }}" data-iteration="{{ loop.parent.loop.index }}">{{ territory.name }}</div>
                {% endfor %}
            </div>

            <table class="uk-table territory-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Territory</th>
                    <th>Purchasing Method</th>
                    <th>Fee/Minimum Bid</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="territory-table-body">
                {% for country in item.countries %}

                    <tr data-id="{{ country.territoryId }}" class="country-row {% if loop.index > 20 %} hide-item{% endif %}" data-iteration="{{ loop.parent.loop.index }}">
                        <td>
                            <input type="checkbox" class="subordinate-check" data-iteration="{{ loop.parent.loop.index }}">
                        </td>
                        <td>{{ country.name }}</td>
                        <td>{{ item.salesPackage.salesMethod }}</td>
                        <td>{{ item.salesPackage.fee }}</td>
                        <td>{{ item.salesPackage.currency }}</td>
                        <td>
                            <button class="uk-button-primary">Add to chart</button>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <div >
                {% if item.countries| length > 20 %}
                    <span class="uk-float-left view-all" data-iteration="{{ loop.index }}">View all ({{ item.countries| length }})</span>
                {% endif %}
                <button class="uk-button uk-button-primary uk-float-right">Add selections to chart</button>

            </div>
            <input type="hidden" class="territory-id" value="world" data-iteration="{{ loop.index }}">
        </div>
    </div>

{% endfor %}

