{% if countries | length  > 1 %}
    <div class="box">
        <div class="box-title">
            Find territories
        </div>

        <div class="box-content">

            <div>
                <button class="uk-button uk-button-success main-check" data-checked="false">Select All</button>
            </div>
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="continent-name continent-name-color" data-id="world">World</div>

                {% for territory in countries.territories %}
                    <div class="continent-name" data-id="{{ territory.id }}">{{ territory.name }}</div>
                {% endfor %}
            </div>

            <table class="uk-table territory-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Territory</th>
                    <th>Purchasing Method</th>
                    <th>Fee/Minimum Bid</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="territory-table-body">

                {% set i = 0 %}

                {% for item in countries %}
                    {% if loop.index != loop.last %}
                        {% for country in item.countries %}
                            {% set i = i + 1 %}
                            <tr data-id="{{ country.territoryId }}" class="country-row {% if i > 20 %} hide-item{% endif %}" data-disabled="false" data-checked="false">
                                <td>
                                    <input type="checkbox" class="subordinate-check" data-id="{{ country.territoryId }}">
                                </td>
                                <td class="country-name" >{{ country.name }}</td>
                                <td class="pricing-method">
                                    {% if item.salesPackage.salesMethod.name == 'FIXED' %}
                                        Fixed price
                                    {% elseif item.salesPackage.salesMethod.name == 'CLOSED'%}
                                        Closed bid
                                    {% else %}
                                        Open bid
                                    {% endif %}
                                </td>
                                <td class="sales-price">
                                    {% if item.salesPackage.salesMethod.name == 'FIXED' %}
                                        {{ item.salesPackage.amount }}
                                    {% else %}
                                        <input type="text" class="price-input" data-price="{{ item.salesPackage.amount }}" placeholder="enter bid (> {{ item.salesPackage.amount }})">
                                    {% endif %}

                                </td>
                                <td class="sales-currency">{{ item.salesPackage.currency }}</td>
                                <td>
                                    <button class="uk-button-primary add-to-cart"  data-amount="{{ item.salesPackage.amount }}" data-country="{{ country.id }}" data-type="find-territories" data-pricing-type="{{ item.salesPackage.salesMethod.id }}" data-currency="{{ item.salesPackage.currency.id }}" data-rand="{{ random(1000000)~"now"|date("mdYHis")  }}">Add to cart</button>
                                </td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>

                {% if i > 20 %}
                    <span class="uk-float-left view-all" >View all ({{ i }})</span>
                {% endif %}
                <button class="uk-button uk-button-primary uk-float-right add-all-selections">Add selections to cart</button>

            </div>
            <input type="hidden" class="territory-id" value="world">
        </div>
    </div>



{% endif %}
