<div class="box">
    <div class="box-title">
        Sales Package {{ package.id }} {% if package.name %} - {{ package.name }} {% endif %}
    </div>
    <div class="box-content">
        Sales method: {{ package.salesMethod }} - Fee/minimum bid: {{ package.fee }} - Currency: {{ package.currency }}
    </div>

</div>