<div class="box">
    <div class="box-title">
        Term sheet
    </div>
    <div class="box-content">

        {% if content.rights %}
            {% for  rightPackage in content.rights%}

                <div class="right-package-name">
                    {{ rightPackage.name }}
                </div>

                {% for  right in rightPackage.rights%}
                    {{ include('content/contentRight.html.twig', {'right': right}) }}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% if content.distributionPackages %}
    {% for distributionPackage in content.distributionPackages %}

        <div class="box">
            <div class="box-title">
                Distribution Package {{ loop.index }} - {{ distributionPackage.name }}
            </div>
            <div class="box-content">
                {% if distributionPackage.production | length > 0 %}
                    <div class="right-package-name">
                        Production Standards
                    </div>

                    {% for  right in distributionPackage.production %}
                        {{ include('content/contentRight.html.twig', {'right': right}) }}
                    {% endfor %}
                {% endif %}

                {% if distributionPackage.technical | length > 0 %}
                    <div class="right-package-name uk-margin-small-top">
                        Technical delivery
                    </div>

                    {% set method = distributionPackage.technical|first.rightItems|first.name %}

                    {% if method == 'IP' %}
                        {{ include('content/technicalDeliveryIp.html.twig' ) }}
                    {% else %}
                        {% for  right in distributionPackage.technical %}
                            {{ include('content/technicalDelivery.html.twig', {'right': right }) }}
                        {% endfor %}
                    {% endif %}
                {% endif %}

            </div>


        </div>

    {% endfor %}
{% endif %}