{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/css/buy.css') }}" type="text/css" rel="stylesheet"/>

    {{ include('statics/language.css.html.twig', { }) }}

{% endblock %}

{% block main_content %}

    <div class="row">
        {{ include('buy/filters.html.twig', { 'territories' : territories, 'countries' : countries }) }}
    </div>

    <div class="buy-box">
    {% for content in contents %}
        {{ include('buy/contentItem.html.twig', { 'content' : content }) }}
    {% endfor %}
    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/buy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/filters.js') }}"></script>
{% endblock %}
