{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/css/buy.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/buy.css') }}" type="text/css" rel="stylesheet"/>

{% endblock %}

{% block main_content %}

    <div class="row">
        {{ include('buy/filters.html.twig', { 'territories' : territories, 'countries' : countries }) }}
    </div>


    <div class="marketplace-container">
        <div class="content-list-container">
            {{ include('@App/content/contentItemList.html.twig', { 'contents' : contents }) }}
        </div>

        {# REACT CONTAINER#}
        <div id="content-list-container"
             class="content-list-container"
        >
        </div>
    </div>




{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/buy.js') }}"></script>
{% endblock %}
